@using MeditationLogger.Gui;
@using SethCS.Extensions;

@{
    Layout = "_Layout";
}

<p>This software is made possible by several open-source and third party libraries.  They are listed below.</p>

@{ 
    int id = 0;
}

@foreach( CreditsInfo info in Model )
{

// Need unique ID for each credits information.
++id;

<div class="panel panel-default">
    <div class="panel-heading">
        @info.Title
    </div>
    <div class="panel-body">
        <p><strong>Purpose: </strong>@info.Purpose</p>
        <p><strong>Project URL: </strong><a href="@info.Url">@info.Url</a></p>
        <p><strong>Code: </strong><a href="@info.CodeUrl">@info.CodeUrl</a></p>
        <div class="panel-group">
            <div class="panel panel-default">
                <a data-toggle="collapse" href="#credits@(id.ToString())" class="panel panel-heading" >
                    <h4 class="panel-title">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>@info.License
                    </h4>
                </a>
                <div id="credits@(id.ToString())" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel panel-body">
                        <p><strong>License URL:</strong> <a href="@info.LicenseUrl">@info.LicenseUrl</a></p>
                        @Html.Raw( @info.LicenseText )
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}