@using System.Globalization;
@using System.Linq;
@using Meditu.Api;

@model IApiModel;

@{
    Layout = "_Content";
    TextInfo textInfo = CultureInfo.CurrentCulture.TextInfo;
}

<!-- First Row -->
<div class="row">
    <div class="col-md-12">
        <div class="main-box" style="background-color:greenyellow">
            <h3>Total Time:</h3>
            <h4>@Model.LogBook.TotalTime.ToSettingsString( Model.Settings.DateTimeSettings )</h4>
        </div>
    </div>
</div>

<!-- Second Row -->
<div class="row">
    <div class="col-md-4">
        <div class="main-box" style="background-color:tomato">
            <h3>Total Sessions:</h3>
            <h4>@Model.LogBook.TotalSessions</h4>
        </div>
    </div>
    <div class="col-md-4">
        <div class="main-box" style="background-color:yellow">
            <h3>Longest Session:</h3>
            @if( @Model.LogBook.LongestSession != null )
            {
                <!-- @Model.LogBook.LongestSession.Guid -->
            }
            <h4>@Model.LogBook.LongestTime.ToSettingsString( Model.Settings.DateTimeSettings )</h4>
        </div>
    </div>
    <div class="col-md-4">
        <div class="main-box" style="background-color:lightblue">
            <h3>Last Session:</h3>
            @{
                if( Model.LogBook.TotalSessions == 0 )
                {
                    <h4>Nothing Yet...</h4>
                }
                else
                {
                    <h4>@Model.LogBook[0].StartTime.ToSettingsString( Model.Settings.DateTimeSettings )</h4>
                }
            }
        </div>
    </div>
</div>

<!-- Third Row -->
<div class="row">
    <div class="col-md-6">
        <div class="main-box" style="background-color:lightseagreen">
            <h3>Favorite Technique:</h3>
            @{
                if( Model.LogBook.TotalSessions == 0 )
                {
                    <h4>Nothing Yet...</h4>
                }
                else
                {
                    string technique = @Model.LogBook.Techniques.FirstOrDefault( x => x.Value == Model.LogBook.Techniques.Values.Max() ).Key;
                    <h4>@textInfo.ToTitleCase(technique)</h4>
                }
            }
        </div>
    </div>
    <div class="col-md-6">
        <div class="main-box" style="background-color:violet">
            <h3>Favorite Time:</h3>
            @{
                if( Model.LogBook.TotalSessions == 0 )
                {
                    <h4>Nothing Yet...</h4>
                }
                else
                {
                    int hour = Model.LogBook.GetFavoriteStartTimeInLocalTime( Model.Settings.DateTimeSettings );
                    TimeOnly time = new TimeOnly( hour, 0 );
                    <h4>@time.ToSettingsString( Model.Settings.DateTimeSettings )</h4>
                }
            }
        </div>
    </div>
</div>