@using System;
@using System.Globalization;
@using System.Linq;
@using Meditu.Api;

@model IApiModel;

@{
    Layout = "_Content";
    TextInfo textInfo = CultureInfo.CurrentCulture.TextInfo;
    LogBook logBook = Model.LogBook;
    IReadOnlySettingsManager settings = Model.Settings;
}

@section extrahead{
    <link rel="stylesheet" href="/static/css/fullcalendar.min.css" />
    <link rel="stylesheet" href="/static/css/fullcalendar.print.min.css" media="print" />

    <style>
        #calendar {
            max-width: 900px;
            margin: 0 auto;
        }
    </style>
}

@section scripts {
    <script type="text/javascript" src="/static/js/moment.min.js"></script>
    <script type="text/javascript" src="/static/js/fullcalendar.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                defaultDate: '@(settings.DateTimeSettings.GetLocalDateTimeNow().ToString( "yyyy-MM-dd" ))',
                navLinks: true, // can click day/week names to navigate views
                editable: false,
                eventLimit: false, // allow "more" link when too many events
                eventResizeStart: function () {},
                eventDragStart: function () {},
                viewDisplay: function () {},
                viewDestroy: function (view, element) {},
                events: [
                    @foreach( Log log in logBook )
                    {
                        @:{
                            @:title: '@(log.Technique.Replace( '\n', ' ' ).Replace( "\r", string.Empty ))',
                            @:start: '@(log.StartTime.ToLocalTime().ToString( "O" ))',
                            @:end: '@(log.EndTime.ToLocalTime().ToString( "O" ))',
                            @:comments: '@(log.Comments.Replace( '\n', ' ' ).Replace( '\r', ' ' ))',
                            @:id: @(log.Id)
                        @:},
                    }
                ]
            });
        });
</script>
}

 <noscript>
     <p>Java Script required for calendar view :(</p>
</noscript>

<div id="calendar"></div>