@using System.Globalization;
@using System.Linq;
@using Meditu.Api;

@model IApiModel;

@{
    Layout = "_Content";
    TextInfo textInfo = CultureInfo.CurrentCulture.TextInfo;

    LogBook logBook = Model.LogBook;
    IReadOnlySettingsManager settings = Model.Settings;
}

@section scripts {
     <script type="text/javascript" src="/static/js/leaflet.js"></script>
     <script type="text/javascript">
        window.onload=function()
        {
            // Create Map
            var map = L.map( 'map' ).setView([51.505, -0.09], 13);

            // Pull from the OSM API
            var osmURL = "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";

            // In order to use open street map, we need to attribute to it.
            var osmAttrib = 'Map Data &copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors';

            // Create the OSM layer.
            var osm = new L.TileLayer( osmURL, { minZoom: 0, maxZoom: 18, attribution: osmAttrib});

            // Set the map to start at RIT at zoom level 3.
            map.setView(new L.LatLng(43.085, -77.678419), 3);

            // Add the osm layer to the map
            map.addLayer(osm);

            // Create the icon.
            var icon = L.icon({
                iconUrl: "/static/img/leaflet/marker-icon.png",
                iconSize: [25, 41],
                iconAnchor:[12.5, 41],
                popupAnchor:[0, -30]
            });

            // Insert the data.
            @foreach( Log log in logBook )
            {
                if( log.Latitude != null && log.Longitude != null )
                {
                    <text>
                    var markerHTML@(log.Id) = '<div class="left" style="overflow: auto; color: black;">' +
                    '<p><strong>@(log.StartTime.ToSettingsString( settings.DateTimeSettings ))</strong></p>' +
                    '<p><strong>Duration:</strong> @(log.Duration.ToSettingsString( settings.DateTimeSettings ))</p>' +
                    '<p><strong>Technique:</strong> @(log.Technique)</p>' +
                    '<p><strong>Comments:</strong>@(log.Comments.Replace( '\n', ' ' ).Replace( '\r', ' ' ))</p>';

                    var newPopup@(log.Id) = L.popup({maxwidth:500}).setContent(markerHTML@(log.Id));
                    var newMarker@(log.Id) = L.marker([@(log.Latitude), @(log.Longitude)]).setIcon(icon).addTo(map).bindPopup(newPopup@(log.Id));
                    </text>
                }
            }
        }
</script>
}

@section extrahead {
     <link type="text/css" rel="stylesheet" href="/static/css/leaflet.css" />
}

<noscript><p>Javascript is required... Sorry :(</p></noscript>
<div class="center" id="map" style="height:500px; padding-right:2em" />