@using System.Globalization;
@using System.Linq;
@using Meditu.Api;
@using Meditu.Gui.Models;
@using SethCS.Extensions;

@model SettingsModel;

@{
    Layout = "_Content";
    TextInfo textInfo = CultureInfo.CurrentCulture.TextInfo;

    var dateTimeNow = DateTime.Now;
    var sampleDuration = new TimeSpan( 1, 13, 30 );

    IApiModel api = Model.Api;

    TimeZoneInfo currentTimeZone = api.Settings.DateTimeSettings.GetTimeZoneInfo();
}

@await Html.PartialAsync( "~/Views/Shared/_Alert.cshtml", Model )

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Date/Time Settings
                </h4>
            </div>
            <div class="panel-body">
                <!--
                    Forms can only support GET or POST.  So, although technically
                    this could be a PUT, it won't work.
                -->
                <form action="/Settings/SetDateTimeSettings" method="POST">
                    <div class="form-group">
                        <label>Date Format</label>
                        @foreach( DateFormat format in EnumExtensions.SortByNumber<DateFormat>() )
                        {
                            <div class="radio">
                                <label>
                                    <input
                                        id="@nameof(DateFormat)_@format.ToString()"
                                        type="radio"
                                        name="@nameof(DateTimeSettings.DateFormat)"
                                        value="@Convert.ToInt32( format )"
                                        checked="@(format == api.Settings.DateTimeSettings.DateFormat)"
                                    />
                                    @format.ToLabelString( api.Settings.DateTimeSettings, dateTimeNow )
                                </label>
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        <label>Month Format</label>
                        @foreach( MonthFormat format in EnumExtensions.SortByNumber<MonthFormat>() )
                        {
                            <div class="radio">
                                <label>
                                    <input
                                        id="@nameof(MonthFormat)_@format.ToString()"
                                        type="radio"
                                        name="@nameof(DateTimeSettings.MonthFormat)"
                                        value="@Convert.ToInt32( format )"
                                        checked="@(format == api.Settings.DateTimeSettings.MonthFormat)"
                                    />
                                    @format.ToLabelString( api.Settings.DateTimeSettings, dateTimeNow )
                                </label>
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        <label>Date Separator</label>
                        @foreach( DateSeparatorFormat format in EnumExtensions.SortByNumber<DateSeparatorFormat>() )
                        {
                            <div class="radio">
                                <label>
                                    <input
                                        id="@nameof(DateSeparatorFormat)_@format.ToString()"
                                        type="radio"
                                        name="@nameof(DateTimeSettings.DateSeparatorFormat)"
                                        value="@Convert.ToInt32( format )"
                                        checked="@(format == api.Settings.DateTimeSettings.DateSeparatorFormat)"
                                    />
                                    @format.ToLabelString( api.Settings.DateTimeSettings, dateTimeNow )
                                </label>
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        <label>Time Format</label>
                        @foreach( TimeFormat format in EnumExtensions.SortByNumber<TimeFormat>() )
                        {
                            <div class="radio">
                                <label>
                                    <input
                                        id="@nameof(TimeFormat)_@format.ToString()"
                                        type="radio"
                                        name="@nameof(DateTimeSettings.TimeFormat)"
                                        value="@Convert.ToInt32( format )"
                                        checked="@(format == api.Settings.DateTimeSettings.TimeFormat)"
                                    />
                                    @format.ToLabelString( api.Settings.DateTimeSettings, dateTimeNow )
                                </label>
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        <label>Time Duration Format</label>
                        @foreach( DurationFormat format in EnumExtensions.SortByNumber<DurationFormat>() )
                        {
                            <div class="radio">
                                <label>
                                    <input
                                        id="@nameof(DurationFormat)_@format.ToString()"
                                        type="radio"
                                        name="@nameof(DateTimeSettings.DurationFormat)"
                                        value="@Convert.ToInt32( format )"
                                        checked="@(format == api.Settings.DateTimeSettings.DurationFormat)"
                                    />
                                    @format.ToLabelString( api.Settings.DateTimeSettings, sampleDuration )
                                </label>
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        <label>Time Duration Separator</label>
                        @foreach( DurationSeparator format in EnumExtensions.SortByNumber<DurationSeparator>() )
                        {
                            <div class="radio">
                                <label>
                                    <input
                                        id="@nameof(DurationSeparator)_@format.ToString()"
                                        type="radio"
                                        name="@nameof(DateTimeSettings.DurationSeparator)"
                                        value="@Convert.ToInt32( format )"
                                        checked="@(format == api.Settings.DateTimeSettings.DurationSeparator)"
                                    />
                                    @format.ToLabelString( api.Settings.DateTimeSettings, sampleDuration )
                                </label>
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        <label>Time Zone</label>
                        <select name="@nameof(DateTimeSettings.TimeZoneIdentifier)" class="form-control">
                            @foreach( TimeZoneInfo tz in TimeZoneInfo.GetSystemTimeZones() )
                            {
                                @if( tz.Equals( currentTimeZone ) )
                                {
                                    <option value="@tz.Id" selected>@tz.ToString()</option>
                                }
                                else
                                {
                                    <option value="@tz.Id">@tz.ToString()</option>
                                }
                            }
                        </select>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Save Settings" id="saveSettingsButton" />
                </form>
            </div>
        </div>
    </div>
</div>
